.BoxFormatting{
    padding: 20px;
    background-color: white;
    border-width: 5x;
    border-color: blue;
    text-align: center;
}
.Center{
    text-align: center;
}
.Button{
    padding-left: 35px;
    padding-right: 35px;
}
.HelpBox{
    overflow-x: auto;
    font-size: 15px;
    padding: 30px;
}